# UI and Web Framework
streamlit

# Database
supabase

# AI and LLM
langchain-groq
langchain-core


# Web Scraping and MCP
beautifulsoup4
requests
httpx
fastmcp>=3.0.0b2
langchain-mcp-adapters

# Utilities
python-dotenv
