# Web Framework & UI
streamlit

# Database & Persistence
supabase

# AI Orchestration (LangChain Ecosystem)
langchain-groq
langchain-core
langchain-community
langgraph
langchain-mcp-adapters

# MCP Core (For Client/Server Communication)
mcp
fastmcp==0.4.1

# Scaping & Networking
beautifulsoup4
requests
httpx

# Utilities
python-dotenv
nest-asyncio
